@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* bootstrap icons css  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* bootstrap icons css  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    overflow-x: hidden;
    font-size: 16px;
}

:root {
    --main-font: "Sora", sans-serif;
    --main-color: #EF7E04;
    --dark-color: #a0590c;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
    color: inherit;
}

span {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

img {
    max-width: 100%;
    object-fit: cover;
}

p {
    color: #666666;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-60 {
    padding: 60px 0;
}

.p-75 {
    padding: 75px 0;
}

.p-100 {
    padding: 100px 0;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.form-control,
.form-select {
    min-height: 45px;
    box-shadow: none !important;
}

textarea.form-control {
    min-height: 120px;
}

section {
    position: relative;
}

.bg-light {
    background-color: #FD7E010D !important;
}

.btn-primary {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    justify-content: center;
    /* min-height: 50px; */
    border-radius: 30px;
    padding: 12px 24px !important;
}

.btn-primary:hover {
    background-color: var(--dark-color) !important;
    border-color: var(--dark-color) !important;
}

.btn-outline-primary {
    background-color: transparent !important;
    border-color: #fff !important;
    color: #fff !important;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    justify-content: center;
    /* min-height: 50px; */
    border-radius: 30px;
    padding: 12px 24px !important;
}

.btn-outline-primary:hover {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.btn-outline-success {
    background-color: transparent !important;
    border-color: #63B150 !important;
    color: #63B150 !important;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    justify-content: center;
    /* min-height: 50px; */
    border-radius: 30px;
    padding: 12px 24px !important;
}

.btn-outline-success:hover {
    background-color: #63B150 !important;
    border-color: #63B150 !important;
    color: #fff !important;
}

header.header-main {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.header-inner .navbar-nav .nav-link {
    color: #fff !important;
    border: solid 1px transparent;
    border-radius: 30px;
    padding: 4px 16px;
}

.header-inner .navbar-nav .nav-link.active,
.header-inner .navbar-nav .nav-link:hover {
    border-color: #fff !important;
}

.home-banner .bg-color {
    padding: 280px 0;
    background-color: #00000099;
    /* background: linear-gradient(270deg, #00000000 34.86%, #000000 100%); */
}

.page-banner .bg-color {
    padding: 220px 0;
    background-color: #00000099;
}

.header-inner {
    display: flex;
    align-items: center;
    column-gap: 12px;
    justify-content: space-between;
    width: 100%;
}

.header-inner .navbar-brand {
    width: 20%;
}

.header-inner .navbar-collapse {
    justify-content: space-between;
}

.header-inner .navbar-nav {
    width: calc(100% - 220px);
    justify-content: center;
    column-gap: 24px;
}

.header-btn-main .btn-primary {
    min-width: 200px;
}

.btn-primary.width {
    min-width: 350px;
}

.home-banner-text h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
}

.page-banner-text h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.page-banner-text p {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

.home-banner-text h1 span {
    color: var(--main-color);
}

.home-banner-text .banner-btns {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 30px;
}

.exp-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
}

.exp-row .exp-box {
    text-align: center;
}

.exp-row .exp-box h2 {
    color: var(--main-color);
    font-size: 48px;
    font-weight: bold;
}

.product-box img {
    /* aspect-ratio: 1; */
    border-radius: 16px;
    height: 450px;
    width: 100%;
}

.product-content h3 {
    font-size: 24px;
    margin-bottom: 0;
}

.product-content {
    display: flex;
    column-gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.product-content .view-btn {
    font-size: 24px;
    color: var(--main-color);
    rotate: 10deg;
}

.section-heading .mini-tag {
    color: #0353C6;
    margin-bottom: 8px;
}

.section-heading h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 1.5;
}

.section-heading p {
    font-size: 18px;
    color: #000;
}

.img-box img {
    border-radius: 20px;
}

.home-brand .img-box img {
    height: 550px;
    width: 100%;
}

.home-brand .img-box {
    position: relative;
}

.home-brand .img-box .img-text {
    position: absolute;
    width: 250px;
    padding: 30px;
    background-color: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    bottom: -24px;
    left: 36px;
    font-weight: 700;
}

.home-brand.bg-dark {
    background-color: #3A2312 !important;
    color: #fff;
}
.home-brand.bg-dark .text-box h2,
.home-brand.bg-dark .text-box p{
    color: #fff !important;
}

.why-box {
    background-color: #FAFAFA;
    text-align: center;
    border: solid 1px #FFA86933;
    padding: 30px;
    border-radius: 15px;
    transition: all 0.3s;
    height: 100%;
}

.why-box h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.why-box .icon-box {
    width: 60px;
    height: 60px;
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 24px;
    padding: 16px;
}

.why-box:hover {
    box-shadow: 0px 20px 40px 0px #0000001A;

}

/* .why-box .icon-box img {
    max-width: 30px;
} */

.why-section .main-row {
    row-gap: 24px;
}

.cta-img {
    position: relative;
}

.cta-img::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #fd7e0100 0%, #FD7E01 100%);
    right: 0;
    height: 100%;
    width: 200px;
}

.cta-section .row {
    border-radius: 30px;
    overflow: hidden;
}

.cta-section .cta-text {
    background-color: #FD7E01;
    height: 100%;
    text-align: end;
    padding: 60px 50px;
}

.cta-section .cta-text .btn-primary.white {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #000 !important;
}

.cta-section .cta-text .btn-primary.white:hover {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}

footer {
    background-color: #FFE6D5;
    padding-top: 70px;
}

.footer-row {
    display: flex;
    align-items: start;
    column-gap: 24px;
    justify-content: space-between;
}

.footer-row .col-footer-links.logo,
.footer-row .col-footer-links.contacts {
    width: 25%;
}


.footer-row .col-footer-links {
    /* width: 18%; */
    width: auto;
}

.footer-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.footer-links h4 {
    font-size: 20px;
    margin-bottom: 16px;
}

.footer-links ul li a {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.copyright-row {
    display: flex;
    align-items: center;
    column-gap: 24px;
    justify-content: space-between;
    padding: 20px 0;
    border-top: solid 1px #0101011a;
    margin-top: 70px;
}

.copyright-row ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.mission-box {
    padding: 24px;
    border: solid 1px #FD7E01;
    border-radius: 20px;
}

.mission-box img {
    max-width: 150px;
    margin-bottom: 16px;
}

.mission-box .tagline {
    width: 100%;
    color: #0353C6;
    margin-bottom: 16px;
    font-size: 18px;
}

.mission-box h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.contact-box {
    text-align: center;
    padding: 30px;
    background-color: #FFF8F2;
    border-radius: 15px;
    transition: all 0.3s;
}

.contact-box:hover {
    background-color: #FD7E01;
    color: #fff;
}

.contact-box:hover p,
.contact-box:hover h6,
.contact-box:hover h6 a {
    color: #fff;
    transition: 0ms;
}

.contact-box img {
    margin-bottom: 24px;
    max-width: 40px;
}

.contact-box p {
    font-weight: 600;
    color: #929699;
}

.contact-box h6.contact-links {
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: center;
}

.contact-box:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
}

.contact-form .form-div {
    padding: 50px;
    background-color: #FFF8F2;
}

.contact-form .form-div .row {
    row-gap: 24px;
}

.contact-form .form-div h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.contact-form .form-div .form-group label {
    font-weight: 500;
    margin-bottom: 8px;
}

.contact-form .form-main-row {
    border-radius: 16px;
    overflow: hidden;
}

.list-icon-box {
    padding: 24px;
    display: flex;
    align-items: center;
    background-color: #FFF8F2;
    border-radius: 10px;
    column-gap: 16px;
    color: #000;
}

.define-oil {
    background-color: #FFF8F2;
}

.define-oil-box span {
    width: 24px;
    height: 24px;
    min-width: 24px;
    border-radius: 6px;
    background-color: #FD7E01;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 0;
    font-weight: 500;
}

.define-oil-box h6 {
    font-size: 20px;
    font-weight: 600;
}

.define-oil-box p {
    margin-bottom: 0;
    font-size: 16px;
}

.process-box span {
    color: #0353C6;
    margin-bottom: 8px;
}

.process-box h6 {
    font-size: 18px;
    font-weight: 600;
}

.process-box p {
    margin-bottom: 0;
    color: #000;
}

.process-box {
    padding: 24px;
    border: #E2E3E1 solid 1px;
    border-radius: 10px;
    background-color: #FFF8F2;
    height: 100%;
}