@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* bootstrap icons css  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* bootstrap icons css  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    overflow-x: hidden;
    font-size: 16px;
}

:root {
    --main-font: "Sora", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
    color: inherit;
}

span {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
}

img {
    max-width: 100%;
    object-fit: cover;
}

p {
    color: #666666;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-60 {
    padding: 60px 0;
}

.p-75 {
    padding: 75px 0;
}

section {
    position: relative;
}

header.header-main {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.home-banner .bg-color{
    padding: 280px 0;
    background-color: #00000099;
    /* background: linear-gradient(270deg, #00000000 34.86%, #000000 100%); */
}

.header-inner {
    display: flex;
    align-items: center;
    column-gap: 12px;
    justify-content: space-between;
    width: 100%;
}

.header-inner .navbar-brand {
    width: 20%;
}

.header-inner .navbar-collapse {
    justify-content: space-between;
}

.header-inner .navbar-nav {
    width: calc(100% - 220px);
    justify-content: center;
}